# Imports

In [9]:
import mysql.connector

# Connect to DB

In [10]:
connection= mysql.connector.connect(user= "root", password= "root", host= "mysql", port= "3306", database= "db")
print("DB Connected!")

DB Connected!

In [11]:
cursor= connection.cursor(buffered= True)
cursor.execute("SHOW TABLES")
for tb in cursor:
    print(tb)

('articles_data',)

In [12]:
# query= """DROP TABLE articles_data"""
# cursor.execute(query)
# cursor.execute("SHOW TABLES")
# for tb in cursor:
#     print(tb)

In [13]:
# Create table within db database
create_table_query= """
CREATE TABLE IF NOT EXISTS articles_data (
                                          id INT AUTO_INCREMENT, 
                                          headline VARCHAR(512) NOT NULL,
                                          url VARCHAR(512) NOT NULL,
                                          author VARCHAR(64),
                                          date_time DATETIME,
                                          municipality LONGTEXT,
                                          PRIMARY KEY (id)
                                          )
"""

In [14]:
cursor.execute(create_table_query)

In [15]:
connection.commit()

In [17]:
cursor.execute("SELECT * FROM articles_data")
for tb in cursor:
    print(tb)