# Imports

In [15]:
import mysql.connector

# Connect to DB

In [16]:
connection= mysql.connector.connect(user= "root", password= "root", host= "mysql", port= "3306", database= "db")
print("DB Connected!")

DB Connected!

In [19]:
cursor= connection.cursor(buffered= True)

In [41]:
# Create table within db database
create_table_query= """
CREATE TABLE IF NOT EXISTS articles_data (
                                          id INT AUTO_INCREMENT, 
                                          headline VARCHAR(512) NOT NULL,
                                          url VARCHAR(512) NOT NULL,
                                          author VARCHAR(64) NOT NULL,
                                          date VARCHAR(64) NOT NULL,
                                          time VARCHAR(64) NOT NULL,
                                          location VARCHAR(64) NOT NULL,
                                          PRIMARY KEY (id)
                                          s) 

"""

In [42]:
cursor.execute(create_table_query)

In [43]:
connection.commit()

In [44]:
cursor.execute("SHOW TABLES")
for tb in cursor:
    print(tb)

('articles_data',)