### Import modules

In [2]:
from itertools import count

# from scrapper.print_better_dic import print_dict
from scrapper.extract_artcls_data import current_artcls, artcl_data, artcl_content
from scrapper.location_detector import detect_location, validate_location, get_location_id
from database_manager.database_connector import dbconnection as db
from database_manager import querys

In [18]:
# cursor = db.cursor()

# query = """SELECT * FROM Location"""
# cursor.execute(query)
# locs_fetch = cursor.fetchall()

# loc = [row[1] for row in locs_fetch]

# print(loc)
# # for tup in loc:
# #     print(tup[1])

['adjuntas', 'aguada', 'aguadilla', 'aguas_buenas', 'aibonito', 'anasco', 'arecibo', 'arroyo', 'barceloneta', 'barranquitas', 'bayamon', 'cabo_rojo', 'caguas', 'camuy', 'canovanas', 'carolina', 'catano', 'cayey', 'ceiba', 'ciales', 'cidra', 'coamo', 'comerio', 'corozal', 'culebra', 'dorado', 'fajardo', 'florida', 'guanica', 'guayama', 'guayanilla', 'guaynabo', 'gurabo', 'hatillo', 'hormigueros', 'humacao', 'isabela', 'jayuya', 'juana_diaz', 'juncos', 'lajas', 'lares', 'las_marias', 'las_piedras', 'loiza', 'luquillo', 'manati', 'maricao', 'maunabo', 'mayaguez', 'moca', 'morovis', 'naguabo', 'naranjito', 'orocovis', 'patillas', 'penuelas', 'ponce', 'quebradillas', 'rincon', 'rio_grande', 'sabana_grande', 'salinas', 'san_german', 'san_juan', 'san_lorenzo', 'san_sebastian', 'santa_isabel', 'toa_alta', 'toa_baja', 'trujillo_alto', 'utuado', 'vega_alta', 'vega_baja', 'vieques', 'villalba', 'yabucoa', 'yauco']

In [21]:
# loc_id = []
# locs_found = ["san_juan", "adjuntas", "coamo", "aguada"]
# for row in locs_fetch:
#     for municipality in locs_found:
#         if municipality in row[1]:
#             print("{} has locationid {}".format(row[1], row[0]))

adjuntas has locationid 1
aguada has locationid 2
coamo has locationid 22
san_juan has locationid 65

### Save url containing articles

In [ ]:
# Base url
news_url= "https://www.elnuevodia.com/noticias/seguridad"

### Construct data dictionary and insert data into database

In [ ]:
cursor = db.cursor(buffered=True)

articles= current_artcls(news_url)

for article in articles[:3]:
    data_dict = artcl_data(article=article)
    
    data_dict.update(artcl_content(article_data=data_dict))
    
    cursor.execute(querys.INSERT_ARTICLE, data_dict)

    # To do: Get ID of inserted article 

    locs_found = detect_location(article_data=data_dict)

    for loc in locs_found:
        loc_validated = validate_location(locations=loc)
        loc_id = get_location_id(validated_location=loc_validated)

        # To do: Insert (ArticleID, LocationID) into ArticleLocationRelationship table
        # using the article ID fetched from database after inserted, and loc_id in this
        # for loop

### Print Articles table rows

In [ ]:
query = """SELECT * FROM Articles"""
for row in cursor:
    print(row)

## Print Location rows

In [ ]:
query = """SELECT * FROM Location"""
for row in cursor:
    print(row)

## Print bridging table rows

In [ ]:
query = """SELECT * FROM ArticlesLocationRelation"""
for row in cursor:
    print(row)